body {
  background-image: url('https://raw.githubusercontent.com/B-iNi/B-iNi.github.io/main/assets/background.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  border: 5px solid red !important;
}
