body {
  background-image: url('https://raw.githubusercontent.com/B-iNi/B-iNi.github.io/main/assets/background.jpg'); /* 원하는 이미지 경로 */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* 스크롤해도 배경 고정 */
  background-repeat: no-repeat;
}
